.dataTables_wrapper {
    @apply flex flex-wrap gap-y-2;
    /*Overrides for Tailwind CSS */
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_processing,
    .dataTables_paginate {
        @apply text-gray-700 dark:text-gray-300;
    }

    .dataTables_length {
        @apply order-1;
        select {
            @apply py-[0.35rem] px-2.5 pr-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
        }
    }

    .dt-export-buttons {
        @apply order-2;
        @apply inline-flex flex-wrap ml-auto md:ml-2 gap-1;

        .dt-button {
            @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm h-fit px-4 md:px-5 py-[0.4rem] dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
        }
    }

    .dataTables_filter {
        @apply order-3;
        @apply mt-0 md:w-60 md:ml-auto flex-1 ml-2 md:flex-none;

        input {
            @apply ml-0 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-[0.35rem] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
        }
    }

    table,
    .dataTables_scroll {
        @apply order-4;
    }

    table {
        @apply inline-table w-full relative overflow-x-scroll;
    }

    .dataTables_scroll {
        @apply w-full max-w-[-webkit-fill-available] overflow-x-auto;

        .dataTables_scrollHeadInner {
            @apply w-full #{!important};
            table.dataTable {
                @apply w-full #{!important};
            }
        }
    }

    .dataTables_info {
        @apply order-5;
    }

    /*Pagination Buttons*/
    .dataTables_paginate {
        @apply order-6 ml-auto;

        .paginate_button.disabled {
            @apply text-gray-700/30 dark:text-gray-300/30 #{!important};
        }

        .paginate_button {
            font-weight: 700;
            /*font-bold*/
            border-radius: 0.25rem;
            /*rounded*/
            border: 1px solid transparent;
            /*border border-transparent*/
        }

        /*Pagination Buttons - Current selected */
        .paginate_button.current {
            color: #fff !important;
            /*text-white*/
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
                0 1px 2px 0 rgba(0, 0, 0, 0.06);
            /*shadow*/
            font-weight: 700;
            /*font-bold*/
            border-radius: 0.25rem;
            /*rounded*/
            background: #667eea !important;
            /*bg-indigo-500*/
            border: 1px solid transparent;
            /*border border-transparent*/
        }

        /*Pagination Buttons - Hover */
        .paginate_button:not(.disabled):hover {
            color: #fff !important;
            /*text-white*/
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
                0 1px 2px 0 rgba(0, 0, 0, 0.06);
            /*shadow*/
            font-weight: 700;
            /*font-bold*/
            border-radius: 0.25rem;
            /*rounded*/
            background: #667eea !important;
            /*bg-indigo-500*/
            border: 1px solid transparent;
            /*border border-transparent*/
        }
    }
}

.hide-dt-paginate .dataTables_paginate {
    @apply hidden;
}

#score_rating .dataTables_wrapper {
    .dataTables_filter {
        @apply w-full md:w-60 flex-none ml-0 md:ml-auto;
    }
    
    .dataTables_length {
        select {
            @apply w-24 py-[0.35rem] px-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
        }
    }
}

.dataTables_empty {
    @apply h-32 align-middle;
}

/*Row Hover*/
table.dataTable.hover tbody tr,
table.dataTable.display tbody tr {
    @apply hover:bg-indigo-100 dark:hover:bg-gray-900/40;
}

/*Add padding to bottom border */
table.dataTable.no-footer {
    border-bottom: 1px solid #e2e8f0;
    /*border-b-1 border-gray-300*/
    // margin-top: 0.75em;
    // margin-bottom: 0.75em;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: #667eea !important;
    /*bg-indigo-500*/
}
